@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@tailwind base;

:root {
    --primary: #27272715;
    --secondary: #00c894;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply p-2 px-4 rounded-md bg-primary-color font-medium text-gray-200 text-center transition-all delay-75 ease-in-out md:px-2 md:text-sm;
    }

    .btn-delete {
        @apply px-4 py-1 rounded-md uppercase font-medium bg-red-600 dark:bg-red-700 text-gray-300 hover:bg-red-700 dark:hover:bg-red-800 transition delay-75 ease-in-out;
    }

    .btn-outline {
        @apply p-2 px-4 rounded-md font-medium text-center text-gray-600 dark:text-gray-300  hover:text-gray-100  bg-transparent hover:bg-indigo-500 dark:hover:bg-indigo-700 outline outline-1 outline-gray-300 dark:outline-indigo-700 transition delay-75 ease-in-out md:px-2 md:text-sm;
    }

    .label-default {
        @apply pb-3 text-base font-medium text-gray-800 dark:text-gray-300;
    }

    .input-default {
        @apply border border-gray-300 rounded-lg bg-transparent focus:ring-indigo-500 focus:border-indigo-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500;
    }
}

/* código para girar o svg config da área de admistração */
#gear-icon:hover {
    transition: transform 0.7s ease-in-out;
    transform: rotate(360deg);
}

/* retorna o elemento à posição original */
#gear-icon:not(:hover) {
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}


